{% extends 'base.html' %}
{% block content %}
    <style>
        .testing {
            background-color: rebeccapurple;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="height: 10rem; background-color: #38df81; margin: 2rem; border-radius: 2rem;">
        <h1>Testing</h1>
    </div>
    <form action="/account/hello/" method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="hello_world_input">
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="POST">
        </div>

    </form>
    {% if hello_world_list %}
        {% for hello in  hello_world_list %}
            <h4>
                {{ hello.text }}
            </h4>
        {% endfor %}
    {% endif %}

{% endblock %}